# ðŸ“š Recommendations based on average ratings
You will create your first recommendations using average ratings. This method highlights books with high reader ratings, combining popularity with quality. You'll calculate each book's average rating and choose the top-rated ones for your recommendations.

### 1. Calculate the average ratings
Calculate the average ratings and the number of reviews (count) for the books in your new dataset(s).

In [3]:
import pandas as pd
df = pd.read_csv('data/ratings_subset.csv', delimiter=';')

# group by isbn
df = df.groupby(['ISBN'])
# counts for each ISBN
df = df['Book-Rating'].agg(['mean', 'count']).reset_index()
# sort
df = df.sort_values(by='mean', ascending=False).head(10)
df

            ISBN  mean  count
67    006015957X  10.0      1
3901  0451175190  10.0      1
6791  089471838X  10.0      7
6340  0786866314  10.0      3
1973  0380761327  10.0      4
7135  1888054557  10.0     10
7143  2070388905  10.0      3
3251  0440961327  10.0      1
7204  3492225926  10.0      1
2936  044016205X  10.0      1

### 2. Save the recommendations
Choose the top 10 based on ratings and save them as `recommendations-ratings-avg.csv`, replacing the existing file in the app directory. Ensure the file includes the columns: `ISBN;mean`. After you have saved it you can refresh Streamlit to see the results

In [4]:
df[['ISBN', 'mean']].to_csv('app/recommendations/recommendations-ratings-avg.csv', index=False, sep=';')

### 3. Reflect on the recommendations
Examine the average rating and number of reviews for the top 10 books. Reflect on why solely using average ratings isn't the best method for recommendations.