# ðŸ“š Recommendations based on Frequently Reviewed Together (frequency)
Use the `permutations` function from `itertools` to create combinations of books that are frequently reviewed together.

### 1. Quick introduction to permutations

In [3]:
from itertools import permutations 

# items bought together
items = ['milk', 'bread', 'eggs']

# this code creates sets of 2 items from the itemset above
list(permutations(items, 2))

[('milk', 'bread'),
 ('milk', 'eggs'),
 ('bread', 'milk'),
 ('bread', 'eggs'),
 ('eggs', 'milk'),
 ('eggs', 'bread')]

### 2. Count the combinations of books reviewed together
Create combinations with `permutations` and count how often each combination occurs. This process might be time-consuming, depending on your initial data exploration.

In [20]:
import pandas as pd

df = pd.read_csv('data/ratings_subset.csv', sep=';', encoding='latin-1')

from itertools import permutations 

def create_combinations(x):
  combinations = pd.DataFrame(list(permutations(x.values, 2)), columns=['book_a','book_b'])    
  return combinations

# use the function to create combinations
book_combinations = df.groupby('User-ID')['ISBN'].apply(create_combinations) 

book_combinations = book_combinations.reset_index(drop=True)

# count the combinations
combinations_counts = book_combinations.groupby(['book_a', 'book_b']).size()
combinations_counts = combinations_counts.to_frame(name = 'count').reset_index()

combinations_counts.sort_values(by='count', ascending=False)

             book_a      book_b  count
3118174  0439064864  0439136350     77
3127454  0439136350  0439064864     77
3119302  0439064864  0590353403     71
5569760  0590353403  0439064864     71
3127457  0439136350  0439139597     70
...             ...         ...    ...
2727220  0399150897  0743204697      1
2727218  0399150897  0743202562      1
2727217  0399150897  0717283208      1
2727216  0399150897  0702222550      1
7703513  950491036X  8495618605      1

[7703514 rows x 3 columns]

### 3. Save the recommendations
Given the potential size of the output, limit the CSV file to include only the top 10 recommendations per book. Save this as `recommendations-seeded-freq.csv` and update the file in the app directory. Remember to enable the code block related to this step if it was previously commented out.

In [21]:
combinations_counts = combinations_counts.sort_values('count', ascending=False)

# only select top 10 per combination
df1 = combinations_counts.sort_values('count', ascending = False).groupby('book_a').head(10)

df1.to_csv('app/recommendations/recommendations-seeded-freq.csv', index=False, sep=';')